/* GLOBAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
	font-weight: 400;
  line-height: 145%;
  color: #393e46;
	background: #eeeeee;
	position: relative;
}

h1, h2 {
	font-weight: 700;
}

a {
	font-weight: 500;
  color: #393e46;
	text-decoration: none;
	transition: filter 0.4s;

}

/* BUTTONS */

.btn {
  padding: 5px 10px;
  margin: 5px 0;

  font-size: 90%;
  font-family: 'Roboto', sans-serif;

  color: #00adb5;
  background: #393e46;
  border: 1px solid #ddd;

  cursor: pointer;
  user-select: none;
  transition: background 0.4s;
}

.btn:hover,
.btn:active {
  background: #222831;
}

.close {
	margin: 0;
	border: none;

	position: absolute;
	top: 0px;
	right: 0px;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin-top: 45px;
}

header aside {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	position: fixed;
	top: 0;
	right: 0;
}

header section.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px;
}

header section.form-container nav.nav-unicode {
  margin: 20px 0;
}

header section.form-container nav.nav-unicode button.btn-code {
  border-radius: 8px;
}

header section.form-container form.form-exec {
  display: flex;
  flex-direction: column;
}

header section.form-container form.form-exec textarea#exec {
  resize: vertical;
  width: 300px;
  min-height: 100px;
  max-height: 200px;

  margin: 5px 0;
  padding: 15px;
  font-size: 115%;
  line-height: 145%;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.158);
}

header section.form-container form.form-exec input.btn,
header section.form-container form.form-exec textarea#exec {
  border-radius: 4px;
}

/* MAIN */

main {
	margin-bottom: 45px;
	width: 100%;
	position: relative;
}

main div.result-container {
	text-align: center;
	background: #393e46;
	padding: 25px 0;
}


main div.result-container h2 {
	max-width: 500px;
	max-height: 100px;
	overflow: auto;
	margin: auto;
	padding: 20px;
}

main div.result-container h2,
main div.result-container p.result {
	color: #eeeeee;
}

main div.result-container p.result {
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 130%;
	font-weight: 500;
}

/* FOOTER */

footer {
  background: #222831;
  margin-top: auto;
  padding: 15px 0;
	text-align: center;
}

footer a.link {
  color: #00adb5;
}

footer a.link:hover,
footer a.link:active {
  filter: brightness(70%);
}

footer a.link span {
  color: rgb(211, 57, 57);
}

/* Modal */

div.modal {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00acb548;
	z-index: 1000;
}

div.modal-content {
	background: #eeeeee;
	width: 50%;
	height: 60%;
	border-radius: 8px;
	position: relative;
	overflow: auto;
	text-align: center;
}

div.modal-content h2 {
	padding: 20px 0;
	text-align: center;
}

div.modal-content p {
	padding: 10px 0;
}

div.modal-content a {
	color: #00adb5;
}

div.modal-content a:hover,
div.modal-content a:active {
	filter: brightness(70%);
}

/* Modal history */

section.history {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* JS FUNCTION */

.hide,
div.modal.hide {
	display: none;
}

@media (max-width: 880px) {
	header aside {
		position: static;
		margin-top: 45px;
	}

	header section.form-container {
		margin: 20px;
	}

	div.modal-content {
		width: 95%;
	}
}
